*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/.name
.idea/compiler.xml
.idea/misc.xml
.idea/vcs.xml
FancyCover/build/outputs/aar/FancyCover-release.aar
FancyCover/build/intermediates/manifests/aapt/release/AndroidManifest.xml
FancyCover/build/intermediates/manifests/aapt/debug/AndroidManifest.xml
FancyCover/build/intermediates/incremental/packageReleaseResources/merger.xml
FancyCover/build/intermediates/incremental/packageDebugResources/merged.dir/values/values.xml
FancyCover/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml
FancyCover/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
FancyCover/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
FancyCover/build/intermediates/classes/release/at/technikum/mti/fancycoverflow/R$id.class
FancyCover/build/intermediates/classes/release/at/technikum/mti/fancycoverflow/FancyCoverFlowAdapter.class
FancyCover/build/intermediates/classes/release/at/technikum/mti/fancycoverflow/FancyCoverFlow.class
FancyCover/build/intermediates/classes/debug/at/technikum/mti/fancycoverflow/R$styleable.class
FancyCover/build/intermediates/classes/debug/at/technikum/mti/fancycoverflow/FancyCoverFlowItemWrapper.class
FancyCover/build/intermediates/classes/debug/at/technikum/mti/fancycoverflow/FancyCoverFlow$LayoutParams.class
FancyCover/build/intermediates/bundles/debug/res/values/values.xml
FancyCover/build/intermediates/blame/res/androidTest/debug/multi/values.json
FancyCover/build/generated/source/buildConfig/release/at/technikum/mti/fancycoverflow/BuildConfig.java
