<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phanluongha.myfirstapplication">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListExhibitionActivity"
            android:label="@string/title_activity_list_exhibition"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailEventActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GerneralEventActivity"
            android:label="@string/title_activity_gerneral_event"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListExhibitionEventActivity"
            android:label="@string/title_activity_list_exhibition_event"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailExhibitionActivity"
            android:label="@string/title_activity_detail_exhibition"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListProductEventActivity"
            android:label="@string/title_activity_list_product_event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListActivityEventActivity"
            android:label="@string/title_activity_list_activity_event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignInActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            />
    </application>

</manifest>